/* สีพื้นหลังของตาราง */
#myTable {
    background-color: #f2f2f2; /* สีเทาอ่อน */
    border-collapse: collapse; /* รวมเส้นกรอบของเซลล์ */
    width: 80%; /* กว้างของตารางเท่ากับ 80% ของพื้นที่ที่มีอยู่ */
    margin: 0 auto; /* จัดตารางตรงกลาง */
    padding: 20px; /* เพิ่มระยะห่างรอบตาราง 20px */
}

/* สีพื้นหลังของเซลล์ */
#myTable td {
    background-color: #fff; /* สีขาว */
    padding: 10px; /* เพิ่มระยะห่างรอบเซลล์ 10px */
    border: 2px solid #ddd; /* สร้างเส้นกรอบด้วยสีเทาอ่อน */
    font-weight: bold;
}

/* รูปแบบของปุ่ม */
.btn {
    background-color: #4CAF50; /* สีเขียว */
    color: white; /* สีข้อความขาว */
    padding: 10px 20px; /* เพิ่มระยะห่างรอบปุ่ม 10px ด้านบนและเล็กน้อยทางด้าน */
    border: none; /* ไม่มีเส้นกรอบ */
    border-radius: 5px; /* ทำมุมของปุ่มเป็นรูปวงกลม */
    cursor: pointer; /* เปลี่ยนรูป cursor เมื่อชี้ไปที่ปุ่ม */
}

/* การเมื่อชี้ไปที่ปุ่ม */
.btn:hover {
    background-color: #45a049; /* เมื่อชี้ไปที่ปุ่มเปลี่ยนสีเขียวเข้ม */
}

/* สีขอบของเซลล์เมื่อชี้ไปที่เซลล์ */
#myTable td:hover {
    background-color: #f0f0f0; /* เปลี่ยนสีพื้นหลังเมื่อชี้ไปที่เซลล์เป็นสีเทาอ่อน */
}

/* สีขอบของปุ่มเมื่อชี้ไปที่ปุ่ม */
.btn:hover {
    background-color: #45a049; /* เปลี่ยนสีพื้นหลังเมื่อชี้ไปที่ปุ่มเป็นสีเขียวเข้ม */
    color: white; /* เปลี่ยนสีข้อความของปุ่มเป็นขาว */
    border: 1px solid #45a049; /* เปลี่ยนสีเส้นกรอบของปุ่มเมื่อชี้ไปที่ปุ่ม */
}

/* สีขอบของปุ่มเมื่อชี้ไปที่ปุ่มแต่ปุ่มยกเลิก */
.btn.btn-warning:hover {
    background-color: #ec5b0c; /* เปลี่ยนสีพื้นหลังเมื่อชี้ไปที่ปุ่มยกเลิกเป็นสีส้ม */
    border: 1px solid #f2b933; /* เปลี่ยนสีเส้นกรอบของปุ่มยกเลิกเมื่อชี้ไปที่ปุ่ม */
}

/* สีขอบของปุ่มเมื่อชี้ไปที่ปุ่มบันทึก */
.btn.btn-success:hover {
    background-color: #367342; /* เปลี่ยนสีพื้นหลังเมื่อชี้ไปที่ปุ่มบันทึกเป็นสีเขียว */
    border: 1px solid #4CAF50; /* เปลี่ยนสีเส้นกรอบของปุ่มบันทึกเมื่อชี้ไปที่ปุ่ม */
}

