footer{
    background-color: rgb(59,59,59);
}
footer table tr td p{
    color: #FFFFFF;
    font-size: 13px;
}
footer table tr td {
    width: 450px;
}
.ft_major{
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
}