body{
    margin: 0;
    font-family: 'Prompt', sans-serif;

}
.editpro_header1{
    font-size: 25px;
    color: #7EBC1B;
}
.editpro_header2{
    font-size: 20px;
    color: #DD7818;
    margin-bottom: -100px;
}
.navbar2
{
    background-color: #2B2C2F;
    width: 100%;
    margin-bottom: 100px;
    margin-top: -25px;
}
